doctype
head
    title= page
    meta(charset='utf-8')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    style
        | ul.nav a {
        | text-transform: capitalize; }
body
    .container
        h1=page
        ul.nav.nav-pills
            each link in links
                li: a(href=link)=link
            li: a(href="/new") new
        hr
        block content